"*":
  "activate-power-mode":
    comboMode:
      enabled: false
    particles:
      colours: {}
      size: {}
      spawnCount: {}
      totalCount: {}
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
  "advanced-open-file":
    createDirectories: true
    defaultInputValue: "Project root"
    fuzzyMatch: true
  "atom-autocomplete-php":
    binComposer: "/usr/bin/composer"
  "atom-beautify":
    general:
      _analyticsUserId: "a55fa601-6d23-4938-bfd4-94e68b6798aa"
      analytics: false
      beautifyEntireFileOnSave: false
    html:
      indent_size: 2
    js:
      indent_size: 2
    json:
      indent_size: 2
    jsx:
      indent_level: 2
      indent_size: 2
    php:
      cs_fixer_path: "php-cs-fixer"
      default_beautifier: "PHPCBF"
      phpcbf_path: "phpcbf"
      standard: "PSR2"
    ruby:
      indent_size: 2
      rubocop_path: "/home/imrea/.rbenv/shims/rubocop"
    scss:
      indent_size: 2
      no_lead_zero: true
  "atom-material-ui":
    colors:
      abaseColor: "#607d8b"
      paintCursor: true
      predefinedColor: "Blue Grey"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: false
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-modules":
    webpack: true
  autosave:
    enabled: true
  "base16-syntax":
    scheme: "Eighties"
    style: "Dark"
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.jade": [
        "pug"
      ]
    disabledPackages: [
      "todo-show"
      "wrap-guide"
      "react"
      "atom-autocomplete-php"
      "multiline-tab"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "bower_components"
      ".vscode"
      ".idea"
    ]
    packagesWithKeymapsDisabled: [
      "activate-power-mode"
      "atom-autocomplete-php"
      "es6-javascript"
      "trailing-semicolon"
      "goto-definition"
      "git-blame"
    ]
    projectHome: "/home/imrea/Projects"
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "one-dark-vivid-syntax"
    ]
  "custom-title":
    template: "<%= relativeFilePath %><% if (projectPath) { %> - <%= projectPath %><% } %>"
  editor:
    fontFamily: "consolas"
    fontSize: 15
    invisibles: {}
    lineHeight: 1.6
    scrollPastEnd: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "8ff1df16-070d-d2f6-eba4-5281fa42ab0e"
  "file-icons":
    coloured: false
  "flatwhite-syntax":
    ebmedded: "Full"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
    ]
  "git-blame":
    columnWidth: 250
    dateFormatString: "YYYY.MM.DD"
  "git-diff": {}
  "git-plus":
    general:
      _analyticsUserId: "34d5d5c9-6746-4e24-83fd-16fc710812bd"
  "goto-definition":
    performanceMode: true
  "highlight-line":
    enableBackgroundColor: false
    hideHighlightOnSelect: true
  "highlight-selected":
    hideHighlightOnSelectedWord: true
    minimumLength: 2
  hyperclick:
    linuxTriggerKeys: "altKey"
  linter: {}
  "linter-eslint": {}
  "linter-phpcs": {}
  "linter-phpmd": {}
  "linter-pug":
    onlyRunWhenConfig: true
  "linter-rubocop":
    command: "/home/imrea/.rbenv/shims/rubocop"
    disableWhenNoConfigFile: true
  "linter-sass-lint":
    noConfigDisable: true
  "linter-ui-default":
    decorateOnTreeView: "None"
    panelHeight: 67
    showProviderName: true
  "markdown-preview":
    liveUpdate: false
  minimap:
    displayPluginsControls: false
  "minimap-linter": {}
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
    locked: true
    silent: true
  "one-dark-ui":
    fontSize: 13
    tabSizing: "Minimum"
  "one-light-ui":
    tabSizing: "Minimum"
  "php-integrator-linter":
    showMissingDocs: false
  pigments:
    groupPaletteColors: "by file"
    markerType: "native-square-dot"
  "platformio-ide-terminal":
    style:
      fontFamily: "source code pro"
      fontSize: "14"
    toggles:
      runInsertedText: false
  "seti-syntax":
    themeColor: "Steel"
  "seti-ui":
    compactView: true
    fileIcons: false
    font: "Default Atom Font"
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
    tabLength: 4
".coffee.jsx.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
".html.php.text":
  editor:
    tabLength: 4
".js.jsx.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: true
