.editor {
  ///////////////////////
  // FONT FAMILY SETTING
  ///////////////////////
  // font-family: "Anka/Coder";
  // font-family: "Consolas";
  // font-family: "Courier Prime Code";
  // font-family: "Fira Code";
  // font-family: "FiraCode-Medium";
  // font-family: "FiraCode-Retina";
  // font-family: "IBMPlexMono-Text";
  // font-family: "Inconsolata-g";
  // font-family: "Monaco";
  // font-family: "Mononoki";
  // font-family: "Operator Mono";
  // font-family: "PT Mono";
  // font-family: "Source Code Pro";
  // font-family: "SourceCodePro-Medium";
  // font-family: "Ubuntu Mono";

  ///////////////////
  // WEIGHT SETTINGS
  ///////////////////
  // font-weight: bold;
  // font-weight: 600;
  // -webkit-text-stroke: .01em;
  // -webkit-text-stroke: .012em;
  // -webkit-text-stroke: .014em;
  // -webkit-text-stroke: .015em;
  // -webkit-text-stroke: .018em;
  // -webkit-text-stroke: .02em;
  // -webkit-text-stroke: .022em;
  // -webkit-text-stroke: .025em;
  // -webkit-text-stroke: .03em;
  // -webkit-text-stroke: .05em;
  // -webkit-font-smoothing: subpixel-antialiased;
  // -webkit-font-smoothing: none;
  // -webkit-font-smoothing: antialised;
  // text-rendering: optimizeSpeed;
  // text-rendering: optimizeLegibility;
  // text-rendering: geometricPrecision;
  // text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.tree-view {
  // font-family: "ubuntu";
}

.tab-bar .tab {
  // min-width: 16em !important;
  // text-align: center;
  // max-width: initial !important;
}

atom-text-editor {

  .syntax--comment {
    // font-style: normal;
    font-style: italic;
  }

  .syntax--html.syntax--attribute-name,
  .syntax--jsx.syntax--attribute-name {
    // font-family: "operator mono medium";
    // font-family: "consolas";
    // font-style: normal;
    font-style: italic !important;
  }

  .invisible-character,
  .multi-wrap-guide-line,
  .indent-guide {
    // color: white;
    // opacity: .5;
    // opacity: .3;
    // opacity: .2;
  }

  .indent-guide-improved {
    opacity: .1
  }

  .indent-guide-active {
    opacity: .15;
  }

  .line-number.foldable .icon-right {
    visibility: visible;
  }
}

atom-dock .tab-bar {
  display: none;
}

linter-message {
  font-weight: normal;
}
